.tabs_wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    &>div{
        display: flex;
        grid-column: 4 / 10;
        grid-row: 1 / 2;
        justify-content: space-evenly;
    }
    &>form{
        grid-column: 4 / 10;
        grid-row: 2 / 3;
    }
    &>div+div{
        grid-column: 4 / 10;
        grid-row: 2 / 3;
    }
}