.form_wrapper{
    &>div{
        display: flex;
        flex-direction: column;
        &>input:nth-child(2){
            height: 100px;
        }
        &>ul{
            margin-bottom: 20px;
            padding-left: 20px;
            &>li+li{
                margin-top: 5px;
            }
        }
        &>div+div{
            margin-top: 20px;
        }
        &>button{
            width: 100%;
            margin: 10px 0 0 0;
        }
        .file{
            display: flex;
            flex-direction: column;
        }
    }
}