.search_wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    .search{
        grid-column: 3 / 11;
        padding: 10px 0;
        border-radius: 15px;
        border: 1px solid black;
        &::placeholder{
            padding-left: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1020px) {
    .search_wrapper{
        &>div{
            grid-column: 2 / 12;
        }
    }
}

@media (min-width: 425px) and (max-width: 767.99px) {
    .search_wrapper{
        grid-template-columns: repeat(8, 1fr);
        .search{
            grid-column: 2 / 8;
        }
    }
}

@media (min-width: 320px) and (max-width: 424.9px) {
    .search_wrapper{
        grid-template-columns: repeat(4, 1fr);
        .search{
            grid-column: 1 / 5;
            margin: 0 20px;
        }
    }
}