.header{
    align-items: center;
    .logo{
        grid-column: 2 / 3;
        width: 80%;
        height: 90%;
    }
    .title{
        grid-column: 3 / 12;
        text-align: center;
    }
}