.form_wrapper_uploadSection{
    display: flex;
    flex-direction: column;
    &>p{
        margin-bottom: 20px;
    }
    &>form{
        &>h3{
            margin-bottom: 15px;
        }
        &>select{
            width: 100%;
            padding: 10px 20px;
            border-radius: 12px;
            border: 1px solid #808791; 
            margin-bottom: 20px;
        }
        &>button{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}