.admin_list_wrapper{
    display: flex;
    flex-direction: column;
    &>div{
        &>div{
            &>p{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        &>button+button{
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
}